# 忽略文档目录
Document/

# PlatformIO 生成文件及缓存
Src/Esp32_Interaction/.pio/
Src/Esp32_Interaction/.vscode/
Src/Esp32_Interaction/src/Config/secrets.h

# Rust 生成文件及依赖锁
Src/Stm32_Control/target/
Src/Stm32_Control/Cargo.lock
Src/Stm32_Control/firmware/Example_Stm32f4/
Src/Stm32_Control/memory.map


Src/Esp32_Interaction/src/Service/GUI/SmartGreenhouse/import
Src/Esp32_Interaction/src/Service/GUI/SmartGreenhouse/lib
Src/Esp32_Interaction/src/Service/GUI/SmartGreenhouse/lvgl
Src/Esp32_Interaction/src/Service/GUI/SmartGreenhouse/lvgl-simulator
Src/Esp32_Interaction/src/Service/GUI/SmartGreenhouse/temp
Src/Esp32_Interaction/src/Service/GUI/SmartGreenhouse/SmartGreenhouse.guiguider

# 操作系统级缓存
Thumbs.db
.DS_Store

# 论文
论文

